@{
	ViewBag.Title = "Login";
}

<style>
	main > div {
		background: url(/img/room-2.jpg) no-repeat center center fixed;
		background-size: cover;
		height: 91.9dvh;
		margin-bottom: -1rem;
	}

	.register .btn:hover {
		color: #fbfbfc;
		background-image: linear-gradient(#7191b3, #446e9b 50%, #3f658f);
	}

	.login-mod {
		background-color: #ffffffcf;
	}

	footer {
		display: none;
	}
</style>

<div class="d-flex justify-content-center align-items-center">
	<div>
		<div class="login-mod d-flex flex-column container border border-3 border-primary rounded-3 p-5 shadow">
			<form method="post" class="d-flex flex-column gap-3">
				<h2 class="align-self-center">Login</h2>

				<div class="d-flex flex-column form-floating">
					<input class="form-control" type="text" name="id" value="@(TempData["RegisterUserId"])" placeholder="STF or DOC" required
					@(string.IsNullOrEmpty((string?)TempData["RegisterUserId"]) ? "" : "readonly") />
					<label for="id">User ID</label>
				</div>

				<div class="d-flex flex-column form-floating">
					<input class="form-control" type="password" name="password" placeholder="Your password" required />
					<label>Password</label>
				</div>

				<button type="submit" class="border rounded-3 btn btn-primary">Login</button>
				<p style="color: red;">@ViewBag.Error</p>

				<div class="register">
					<p2>Don't have an account?</p2>
					<div class="d-flex gap-3">
						<a class="btn btn-outline-primary" asp-action="Register" asp-route-id="Staff">Register as Staff</a>
						<a class="btn btn-outline-primary" asp-action="Register" asp-route-id="Doctor">Register as Doctor</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

@if (!string.IsNullOrEmpty((string?)TempData["RegisterUserId"]))
{
	<script>
		alert("Your user id is @TempData["RegisterUserId"]")</script>
}