@model Toothcare_Appointment_System.Models.Patients

<h2>New Patient</h2>

<<<<<<< HEAD
<<<<<<< HEAD
<div class="patient-container p-4">
    <form asp-action="Create" method="post">
        <div class="mb-3 input-group">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
            <input asp-for="ICNumber" class="form-control rounded-end" placeholder="Enter IC Number" />
        </div>
=======
<form asp-action="Create" method="post">
    <div class="form-group">
=======
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="ICNumber" class="control-label">IC Number</label>
        <input asp-for="ICNumber" class="form-control" />
        <span asp-validation-for="ICNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
>>>>>>> parent of 09a17cf (Add files via upload)
        <label asp-for="PatientName" class="control-label">Name</label>
        <input asp-for="PatientName" class="form-control" />
        <span asp-validation-for="PatientName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PatientPhoneNo" class="control-label">Phone Number</label>
        <input asp-for="PatientPhoneNo" class="form-control" type="tel" />
        <span asp-validation-for="PatientPhoneNo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PatientEmail" class="control-label">Email</label>
        <input asp-for="PatientEmail" class="form-control" type="email" />
        <span asp-validation-for="PatientEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
<<<<<<< HEAD
        <label asp-for="PatientDOB" class="control-label">Password Comformation</label>
=======
        <label asp-for="PatientDOB" class="control-label">Date of birth</label>
>>>>>>> parent of 09a17cf (Add files via upload)
        <input asp-for="PatientDOB" class="form-control" type="date" />
        <span asp-validation-for="PatientDOB" class="text-danger"></span>
    </div>
    <div class="form-group">
<<<<<<< HEAD
        <label asp-for="PatientAddress" class="control-label">Password Comformation</label>
=======
        <label asp-for="PatientAddress" class="control-label">Address</label>
>>>>>>> parent of 09a17cf (Add files via upload)
        <textarea asp-for="PatientAddress" class="form-control"></textarea>
        <span asp-validation-for="PatientAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
<<<<<<< HEAD
        <label asp-for="PatientGender" class="control-label">Password Comformation</label>
=======
        <label asp-for="PatientGender" class="control-label">Gender</label>
>>>>>>> parent of 09a17cf (Add files via upload)
        <select asp-for="PatientGender" class="form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <span asp-validation-for="PatientGender" class="text-danger"></span>
    </div>
<<<<<<< HEAD
>>>>>>> parent of 0395801 (Update)
=======
>>>>>>> parent of 09a17cf (Add files via upload)

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
