@model Toothcare_Appointment_System.Models.Patients

<style>
	main > div {
		background: url(/img/room-2.jpg) no-repeat center center fixed;
		background-size: cover;
		height: 91.9dvh;
		margin-bottom: -1rem;
	}

	.register .btn:hover {
		color: #fbfbfc;
		background-image: linear-gradient(#7191b3, #446e9b 50%, #3f658f);
	}

	.login-mod {
		background-color: #ffffffcf;
	}

	footer {
		display: none;
	}
</style>

<div class="d-flex justify-content-center align-items-center">
	<div>
		<div class="login-mod d-flex flex-column container border border-3 border-primary rounded-3 p-5 shadow">
			<h2 class="align-self-center">Edit Patient</h2>

			<form asp-action="Edit" method="post" class="d-flex flex-column gap-2">
				<div class="d-flex">
					<div class="form-group">
						<label asp-for="ICNumber" class="control-label">IC Number</label>
						<input asp-for="ICNumber" class="form-control" />
						<span asp-validation-for="ICNumber" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="PatientPhoneNo" class="control-label">Phone Number</label>
						<input asp-for="PatientPhoneNo" class="form-control" type="tel" />
						<span asp-validation-for="PatientPhoneNo" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="PatientEmail" class="control-label">Email</label>
						<input asp-for="PatientEmail" class="form-control" type="email" />
						<span asp-validation-for="PatientEmail" class="text-danger"></span>
					</div>
				</div>

				<div class="form-group">
					<label asp-for="PatientName" class="control-label">Name</label>
					<input asp-for="PatientName" class="form-control" />
					<span asp-validation-for="PatientName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="PatientDOB" class="control-label">Date of birth</label>
					<input asp-for="PatientDOB" class="form-control" type="date" />
					<span asp-validation-for="PatientDOB" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="PatientAddress" class="control-label">Address</label>
					<textarea asp-for="PatientAddress" class="form-control" rows="3"></textarea>
					<span asp-validation-for="PatientAddress" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="PatientGender" class="control-label">Gender</label>
					<select asp-for="PatientGender" class="form-control">
						<option value="Male">Male</option>
						<option value="Female">Female</option>
					</select>
					<span asp-validation-for="PatientGender" class="text-danger"></span>
				</div>

				<div class="d-flex gap-3 justify-content-center mt-2">
					<button class="btn btn-secondary w-50" onclick="history.back()">Back</button>
					<button type="submit" class="btn btn-primary w-50">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>
