@model Toothcare_Appointment_System.Models.AppointmentDTO

<style>
	main > div {
		background: url(/img/room-2.jpg) no-repeat center center fixed;
		background-size: cover;
		height: 91.9dvh;
		margin-bottom: -1rem;
	}

	.register .btn:hover {
		color: #fbfbfc;
		background-image: linear-gradient(#7191b3, #446e9b 50%, #3f658f);
	}

	.login-mod {
		background-color: #ffffffcf;
	}

	footer {
		display: none;
	}
</style>

<div class="d-flex justify-content-center align-content-center">
	<div class="my-5">
		<div class="login-mod d-flex flex-column container border border-3 border-primary rounded-3 p-5 shadow">
			<h2>Create New Appointment</h2>

			<form asp-action="Create" method="post" class="d-flex flex-column gap-2">
				<div class="form-group">
					<label asp-for="AppointmentDateTime" class="control-label">Dates</label>
					<input asp-for="AppointmentDateTime" class="form-control" type="datetime-local" />
					<span asp-validation-for="AppointmentDateTime" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="AppointmentReason" class="control-label">Reason</label>
					<textarea asp-for="AppointmentReason" class="form-control"></textarea>
					<span asp-validation-for="AppointmentReason" class="text-danger"></span>
				</div>

				<input type="hidden" asp-for="AppointmentStatus" value="Scheduled" />

				<div class="form-group">
					<label asp-for="DoctorID">Doctor</label>
					<input asp-for="DoctorID" class="form-control" class="form-control" list="doctorlist" placeholder="Search Doctor" />
					<datalist id="doctorlist">
						@foreach (var doctor in (List<Toothcare_Appointment_System.Models.Doctors>)ViewData["Doctors"])
						{
							<option value="@doctor.DoctorID">@doctor.DoctorName</option>
						}
					</datalist>
				</div>

				<div class="form-group">
					<label asp-for="ICNumber">Patient</label>
					<input asp-for="ICNumber" class="form-control" class="form-control" list="patientlist" placeholder="Search Patient" />
					<datalist id="patientlist">
						@foreach (var patient in (List<Toothcare_Appointment_System.Models.Patients>)ViewData["Patients"])
						{
							<option value="@patient.ICNumber">@patient.PatientName</option>
						}
					</datalist>
				</div>

				<div class="form-group">
					<label asp-for="AppointmentType" class="control-label">Type</label>
					<input asp-for="AppointmentType" class="form-control" />
					<span asp-validation-for="AppointmentType" class="text-danger"></span>
				</div>

				<div class="d-flex gap-3 justify-content-center mt-2">
					@if (!User.IsInRole("Admin"))
					{
						<a asp-action="Index" asp-controller="Staff" class="btn btn-secondary w-50">Back</a>
					}
					else
					{
						<a asp-action="Index" class="btn btn-secondary">Back</a>
					}
					<button type="submit" class="btn btn-primary w-50">Create</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	function updatePatient(){
		var input, filter, option, i;
		input = document.getElementById("filterPatient");
		filter = input.value.toUpperCase();
		option = document.getElementsByTagName("option");
		for (i = 0; i < option.length; i++) {
			if (option[i].innerHTML.toUpperCase().indexOf(filter) > -1 || option[i].value.indexOf(filter) >-1) {
				option[i].style.display = "";
			} else {
				option[i].style.display = "none";
			}
		}
	}
</script>