@model Toothcare_Appointment_System.Models.Doctors

<style>
	main > div {
		background: url(/img/room-2.jpg) no-repeat center center fixed;
		background-size: cover;
		height: 91.9dvh;
		margin-bottom: -1rem;
	}

	.register .btn:hover {
		color: #fbfbfc;
		background-image: linear-gradient(#7191b3, #446e9b 50%, #3f658f);
	}

	.login-mod {
		background-color: #ffffffcf;
	}

	footer {
		display: none;
	}
</style>

<div class="d-flex justify-content-center align-content-center">
	<div class="my-5">
		<div class="login-mod d-flex flex-column container border border-3 border-primary rounded-3 p-5 shadow">
			<div class="d-flex flex-column gap-2">
				<h2>Are you sure to remove this doctor?</h2>

				<div class="form-group">
					<label asp-for="DoctorName" class="control-label">Name</label>
					<input asp-for="DoctorName" class="form-control" disabled/>
				</div>

				<div class="d-flex">
					<div class="form-group">
						<label asp-for="DoctorPhoneNo" class="control-label">Phone Number</label>
						<input asp-for="DoctorPhoneNo" class="form-control" type="tel" disabled/>
					</div>
					<div class="form-group">
						<label asp-for="DoctorEmail" class="control-label">Email</label>
						<input asp-for="DoctorEmail" class="form-control" type="email" disabled/>
					</div>
					<div class="form-group">
						<label asp-for="DoctorLicenseNumber" class="control-label">License Number</label>
						<input asp-for="DoctorLicenseNumber" class="form-control" disabled/>
					</div>
				</div>

				<div class="form-group">
					<label asp-for="DoctorAvailability" class="control-label">Availabality</label>
					<input asp-for="DoctorAvailability" class="form-control" disabled/>
				</div>
				<div class="form-group">
					<label asp-for="DoctorAddress" class="control-label">Address</label>
					<textarea asp-for="DoctorAddress" class="form-control" disabled></textarea>
				</div>
			</div>

			<form asp-action="Delete" method="post" class="d-flex gap-3 justify-content-center mt-2">
				<input type="hidden" asp-for="DoctorID" />

				<a asp-action="Index" class="btn btn-secondary w-50">Cancel</a>
				<button type="submit" class="btn btn-danger w-50">Delete</button>
			</form>
		</div>
	</div>
</div>

<script>
	function checkMatch(){
		var password = document.getElementById("DoctorPass");
		var confirmPassword = document.getElementById("DoctorPassConfirm");
		var message = document.getElementById("passconfirm");
		var submit = document.querySelector("button[type='submit']");
		if(password.value != confirmPassword.value){
			message.innerText = "Password does not match";
			submit.disabled = true;
		}
		else{
			message.innerText = "";
			submit.disabled = false;
		}
	}
</script>