@model Toothcare_Appointment_System.Models.Staff

<style>
	main > div {
		background: url(/img/room-2.jpg) no-repeat center center fixed;
		background-size: cover;
		height: 91.9dvh;
		margin-bottom: -1rem;
	}

	.register .btn:hover {
		color: #fbfbfc;
		background-image: linear-gradient(#7191b3, #446e9b 50%, #3f658f);
	}

	.login-mod {
		background-color: #ffffffcf;
	}

	footer {
		display: none;
	}
</style>

<div class="d-flex justify-content-center align-items-center">
	<div>
		<div class="login-mod d-flex flex-column container border border-3 border-primary rounded-3 p-5 shadow">

			<h2 class="align-self-center">Are you sure deleting this Staff?</h2>

			<div class="d-flex flex-column gap-2">
				<div class="form-group">
					<label asp-for="StaffName" class="control-label">Name</label>
					<input asp-for="StaffName" class="form-control w-100" disabled />
				</div>

				<div class="d-flex flex-wrap justify-content-between">
					<div class="form-group">
						<label asp-for="StaffPhoneNo" class="control-label">Phone Number</label>
						<input asp-for="StaffPhoneNo" class="form-control w-100" type="tel" disabled />
					</div>
					<div class="form-group">
						<label asp-for="StaffRole" class="control-label">Role</label>
						<select asp-for="StaffRole" class="form-control w-100" disabled>
							<option value="">- Select accout role -</option>
							<option value="Receptionist">Receptionist</option>
							<option value="Nurse">Nurse</option>
							<option value="Admin">Admin</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label asp-for="StaffEmail" class="control-label">Email</label>
					<input asp-for="StaffEmail" class="form-control" type="email" disabled />
				</div>
			</div>

			<form asp-action="Delete" method="post" class="d-flex gap-3 justify-content-center mt-2">
				<input type="hidden" asp-for="StaffID" />

				<a asp-action="Index" class="btn btn-secondary w-50">Cancel</a>
				<button type="submit" class="btn btn-danger w-50">Delete</button>
			</form>
		</div>
	</div>
</div>



<script>
	function checkMatch(){
		var password = document.getElementById("StaffPass");
		var confirmPassword = document.getElementById("StaffPassConfirm");
		var message = document.getElementById("passconfirm");
		var submit = document.querySelector("button[type='submit']");
		if(password.value != confirmPassword.value){
			message.innerText = "Password does not match";
			submit.disabled = true;
		}
		else{
			message.innerText = "";
			submit.disabled = false;
		}
	}
</script>